language: cpp

matrix:
  fast_finish: true
  include:
  - name: Build Linux X11
    os: linux
    dist: bionic
    group: stable
    compiler: clang
    env: TARGET_PLATFORM=X11
    addons:
      apt:
        sources:
        - sourceline: 'ppa:beineri/opt-qt-5.12.0-bionic'
        update: true
        packages:
        - qt512base
        - qt512tools
        - qt512x11extras
        - libgl1-mesa-dev
    install:
      - sudo apt update
      - sudo apt install vulkan
    script:
      - PATH="/opt/qt512/bin:$PATH"
      - CXX="clang++"
      - qt512-env.sh
      - qmake CONFIG+=release PREFIX=/usr
      - make INSTALL_ROOT=appdir install ; find appdir/
      - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
      - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
      - export VERSION=${TARGET_PLATFORM}
      - cp vulkanCapsViewer.png appdir/usr/share/icons/hicolor/256x256/apps/vulkanCapsViewer.png
      - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/* -appimage
    after_success:
      - chmod +x ./redist/deploy.sh
      - ./redist/deploy.sh
  - name: Build Linux Wayland
    os: linux
    dist: bionic
    group: stable
    compiler: clang
    env: TARGET_PLATFORM=wayland
    addons:
      apt:
        sources:
        - sourceline: 'ppa:beineri/opt-qt-5.12.0-bionic'
        update: true
        packages:
        - qt512base
        - qt512tools
        - qt512wayland
        - libqt5waylandclient5-dev
        - libgl1-mesa-dev
        - libwayland-dev
        - libwayland-egl1-mesa
        - libwayland-server0
        - libgles2-mesa-dev
        - libxkbcommon-dev        
    install:
      - sudo apt update
      - sudo apt install vulkan
    script:
      - PATH="/opt/qt512/bin:$PATH"
      - CXX="clang++"
      - qt512-env.sh
      - qmake CONFIG+=release PREFIX=/usr
      - make INSTALL_ROOT=appdir install ; find appdir/
      - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
      - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
      - export VERSION=${TARGET_PLATFORM}
      - cp vulkanCapsViewer.png appdir/usr/share/icons/hicolor/256x256/apps/vulkanCapsViewer.png
      - ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/* -appimage
    after_success:
      - chmod +x ./redist/deploy.sh
      - ./redist/deploy.sh          
